body {
	background-color: $color-white;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page__cards {
  display: flex;
  align-items: center;
  list-style: none;
}
